<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact Page</title>
    <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='images/contact_img.png')}}" rel="icon">
</head>
<body>
      <h1 class="h1">🙏🙏 Welecome to our contact page 🙏🙏</h1>
      <section class="pro-sec">
        <div class="ml_pro">
            <img class="ml-img" src="{{url_for('static',filename='images/new_linkedin.png')}}">
            <a class="machine_link" href="https://www.linkedin.com/in/niraj-kumar-879bb8250"><button class="button_machine"><b>Click Me</b></button></a>
        </div>
        <div class="deep-learning">
            <img class="dl-img" src="{{url_for('static',filename='images/github.png')}}">
            <a class="machine_link" href="https://github.com/NirajkumarRajput"><button class="button_machine"><b>Click Me</b></button></a>
        </div>
        <div class="nlp">
            <img class="nlp-img" src="{{url_for('static',filename='images/email.png')}}">
            <a class="machine_link" href="email.html"><button class="button_machine"><b>Click Me</b></button></a>
        </div>
        <div class="git">
            <img class="git-img" src="{{url_for('static',filename='images/instagram.png')}}">
            <a href=""><button class="button_machine"><b>Click Me</b></button></a>
        </div>
    </section>
    <h2 class="thank">🖐️🖐️ Thank you 🖐️🖐️</h2>
</body>
</html>