<!DOCTYPE html>
<html lang="en">
<head>
    <title>Experience Page</title>
    <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='images/exp.png')}}" rel="icon">
</head>
<body>
    <h1 class="h1">🙏🙏 Welcome to our experience page 🙏🙏</h1>
    <h2 class="company">Automaton AI Infosystem.</h2>
    <h3 class="depart">Data Science (Intern Role) Saket, New Delhi Nov 2022 – March 2023</h3>
    <h3 class="project"><span class="name-pro">Project:-</span> Sales Forecasting </h3>

    <p class="description"><b><spna class="name-pro">Project Summary:- </spna></b>In this project, we developed a comprehensive sales model for Automaton AI infosystem. The goal of this project was to accurately predict future sales for various products.</p>
    <p class="description"><b><spna class="name-pro">Objectives :- </spna></b>Develop a machine learning model that can accurate sales forecasts for different products categories over the next 12 months, Build A scalable and adaptable forecasting model that can accommodate changing data patterns.</p>

    <p class="description"><b><spna class="name-pro">Project steps :-</spna></b> Data Collection and Exploration, Feature Engineering, Visualization and Interpretation,Model Training and Validation, Hyperparameter tuning, Model Selection, Forecasting Future Sales.</p>

    <p class="description"><b><spna class="name-pro">Role :-</spna></b> Data Analyst (I had worked Data cleaning and Exploratory Data Analysis)<br> Tools & Technologies :- Python, Pandas & Excel</p>

    <img class="certificate" src="{{(url_for('static',filename='images/certicate.png'))}}">
    <h2 class="thank">🖐️🖐️ Thank you 🖐️🖐️</h2>
</body>
</html>