<!DOCTYPE html>
<html lang="en">
<head>
    <title>Projects Page</title>
    <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='images/project_icon.png')}}" rel="icon">
</head>
<body>
      <h1 class="h1">🙏🙏 Welcome to our projects page 🙏🙏</h1>
      <p class="ins">These are some projects some project of machine learning and some project of python.</p>
        <p class="ins-2">👉👉 kindly proceed Ahead</p>
    
      <section class="pro-sec">
        <div class="ml_pro">
            <img class="ml-img" src="{{url_for('static',filename='images/ml_2.png')}}">
            <a class="machine_link" href=""><button class="button_machine"><b>Click Me</b></button></a>
        </div>
        <div class="deep-learning">
            <img class="dl-img" src="{{url_for('static',filename='images/pyython.png')}}">
            <a class="machine_link" href="https://github.com/NirajkumarRajput/OOP-project-using-nlpcloud-sentiment-analysis-/blob/main/app.py"><button class="button_machine"><b>Click Me</b></button></a>
        </div>
        <div class="nlp">
            <img class="nlp-img" src="{{url_for('static',filename='images/web.jpg')}}">
            <a class="machine_link" href="https://github.com/NirajkumarRajput/NLP-web-app"><button class="button_machine"><b>Click Me</b></button></a>
        </div>
        <div class="git">
            <img class="git-img" src="{{url_for('static',filename='images/mysql.png')}}">
            <a href=""><button class="button_machine"><b>Click Me</b></button></a>
        </div>
    </section>
    <h2 class="thank">🖐️🖐️ Thank you 🖐️🖐️</h2>
</body>
</html>